{% extends 'layout' %}

{% block bodyclass %}register{% endblock %}

{% block headerScripts %}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block content %}
    <div class="row top-buffer">
        <h2 class="text-center">Register</h2>
    </div>

    <div class="row col-md-4 col-md-offset-4">
        <form action="{{ route( 'auth.register' ) }}" method="POST" id="registration-form">
            <div class="form-group">
                <label for="account">Username:</label>
                <input type="text" name="account" id="account" class="form-control" placeholder="Username" required />
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
            </div>

            {# for when we add email #}
            {#<div class="form-group">
                <label for="email">Email Address:</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Email Address" required />
            </div>#}

            <div class="form-group">
                {{ csrf_field() }}
                <input type="submit" value="Sign Up" class="form-control btn btn-primary" /><br /><br />

                {#<div class="g-recaptcha" data-sitekey="6LeZPiMUAAAAAGA-Qr7dELlu73gyAWHX-sG7q2RA"></div>#}
            </div>

            <div class="form-group">
                <span class="white-text">
                    <br />You can download <a href="#">this batch file</a>
                    <br />(Be sure to change the username and password in the file to what you registered with)
                    <br />or add ac.aka-steve.com:9000 to your ThwargLauncher ACEServerList.xml file.
                </span>
            </div>
        </form>
    </div>
{% endblock %}