<div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/uPbu2N5RZI4?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=uPbu2N5RZI4" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div id="vidtop-content"></div>
