<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="google" content="notranslate" />
        <meta http-equiv="Content-Language" content="en" />

        <link rel="stylesheet" href="{{ asset( 'css/app.css' ) }}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        {#<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />#}

        <script type="text/javascript">
            window.Laravel = {
                'csrfToken': '{{ csrf_token()|json_encode }}'
            };
        </script>

        {% block headerStyles %}{% endblock %}
        {% block headerScripts %}{% endblock %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        <div class="container">
            <header>
                {#% include 'navigation' %#}
                {% include 'messages' %}
            </header>

            {% block content %}{% endblock %}

            {#<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

            {% block footerScripts %}{% endblock %}

            <footer></footer>
        </div>
    </body>
</html>
