{% import 'nav.macros' as nav %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container ace no-gutter">
        <div class="navbar-header">
            <span class="navbar-brand">
                <img src="{{ public_asset( 'img/logo.png' ) }}" height="40" alt="ACEmulator Logo" />
            </span>
        </div>

        {% include 'nav.base' %}
    </div>
</nav>
