body.register {
    background: url('../img/ac-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.register form {
    padding-left: 10px;
    padding-right: 15px;
}

body.register #messages {
    padding-top: 30px;
    float: left;
}

.top-buffer {
    margin-top: 170px;
}

.white-text {
    color: #fff;
}